<div class="login-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-title>Reset Password</mat-card-title>
        <mat-form-field>
          <input registerPasswordInputAs="password" placeholder="New Password" name="password" type="password"
                 formControlName="password" matInput>
          <i class="material-icons" matSuffix showPasswordFor="password">
          </i>
        </mat-form-field>
        <br />
        <mat-card-actions>
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
              <button mat-raised-button color="primary">Change</button>
            </mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>



