@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~ngx-toastr/toastr';
@import './spinner.css';

body {
  margin: 0;
}

i.material-icons {
  cursor: pointer;
}
