<app-header>
</app-header>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isLoggedIn$ | async">
    <app-left-menu></app-left-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <ng-progress [color]="'lightgrey'"></ng-progress>
  </mat-sidenav-content>
</mat-sidenav-container>
