<h2 class="page-title">
  Users
  <button class="add-button" mat-button routerLink="./new">Add new</button>
</h2>

<ng-template [ngIf]="isLoading$ | async">
  <div class="loading">Loading&#8230;</div>
</ng-template>
<div>
  <div>
    <table mat-table matSort matSortDisableClear
           [dataSource]="items$ | async"
           [matSortActive]="sortField$ | async"
           [matSortDirection]="sortDirection$ | async">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element">
          {{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let element">
          {{element.username}}
        </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">{{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element">{{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
        <td mat-cell *matCellDef="let element">
          {{element.createdOn | date:short}}
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated On </th>
        <td mat-cell *matCellDef="let element">
          {{element.updatedOn | date:short}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowAction(row)"></tr>
    </table>
  </div>
  <mat-paginator [length]="totalCount$ | async" [pageSizeOptions]="[10, 20, 50]"
                 [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async">
  </mat-paginator>
</div>
