<mat-toolbar>
  <h1>AppTemplate</h1>
  <span class="fill-remaining-space"></span>
  <button mat-button [routerLink]="loginLink" *ngIf="!(isLoggedIn$ | async)">Login</button>
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</button>
</mat-toolbar>
<mat-divider></mat-divider>
