<ng-template [ngIf]="isLoading$ | async">
  <div class="loading">Loading&#8230;</div>
</ng-template>

<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <button mat-button routerLink="../" type="button">Back</button>
  <button class="active-button" mat-button type="submit" [disabled]="!canSave">Save</button>
  <div>
    <mat-form-field>
      <input matInput placeholder="Usename" name="username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput style="display: none">
      <mat-checkbox name="isActive" formControlName="isActive">
        Is Active
      </mat-checkbox>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" registerPasswordInputAs="password"
             name="password" type="password" formControlName="password">
      <i class="material-icons" matSuffix showPasswordFor="password">
      </i>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Email" name="email" formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
    </mat-form-field>
  </div>
</form>
