<div class="login-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-title>Login</mat-card-title>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="isFieldInvalid('username')">
            Please enter your username
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
              <button mat-raised-button color="primary">Login</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-button [routerLink]="forgotPasswordLink" type="button">Forgot password</button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>



